[flake8]
enable-extensions =
    # Enables flake8-logging-format
    G
exclude =
    */migrations/*
    .git,
    __pycache__,
    build,
    dist,
    venv,
    .eggs,
    .egg-info
extend-ignore =
    # (flake8-builtins) builtin names used as class attributes (e.g. `id`, `type`, `help`)
    A003
    # (flake8) Black incompatibility - see https://github.com/PyCQA/pycodestyle/issues/373
    E203
    # (flake8-logging-format) false-positives for anything calling `.warn()`
    G010
max-complexity = 20
max-line-length = 120
# flake8-black
black-config = .black
# flake8-import-order
application-import-names =
    shy_sentry
import-order-style = pycharm

